.ListSections {
  padding: 10px 0;
}

.ListSectionsItem {
  font-size: 14px;
}

.ListSectionsLink {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--text-black-200);
  padding: 8px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  &:hover:not(span) {
    background-color: var(--background-gray-100);
    color: var(--text-black-700);
  }
}
