.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  text-align: center;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid transparent;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.primary {
  background-color: var(--primary-400);
  color: var(--text-white);
  border: 1px solid var(--primary-400);

  &:hover:not(:disabled) {
    background-color: var(--primary-500);
  }
}

.outlined {
  background-color: transparent;
  color: var(--primary-700);
  border: 1px solid var(--outline-gray-900-border);

  &:hover:not(:disabled) {
    background-color: var(--primary-400);
    color: var(--text-white);
    border: 1px solid transparent;
  }
}

.small {
  padding: 4px 8px;
  font-size: 10px;
}

.medium {
  padding: 6px 14px;
  font-size: 14px;
}

.large {
  padding: 8px 18px;
  font-size: 16px;
}

.extra-large {
  padding: 10px 22px;
  font-size: 18px;
}

.disabled {
}
