.internalInvoicesSearchList {
    margin: 8px;
}

.SearchList {
    border-radius: 4px;
    border: 1px solid var(--outline-gray-900-border);
}

.SearchListItem {
    font-size: 10px;
    padding: 5px;

    &:not(:last-child) {
        border-bottom: 1px solid var(--outline-gray-900-border);
    }
}

.SearchListNumber {
    display: block;
    font-size: 12px;
    margin-bottom: 1px;
}

.SearchListCat {
    margin-right: 5px;
    line-height: 1.5;
}