:root {
  --primary-400: #3064a3;
  --primary-500: #4087bf;
  --primary-100: #0a1943;
  --primary-700: #2d609b;

  --success-100: #dffbef;
  --success-500: #26bf68;

  --background-gray-100: #f1f1f1;
  --background-gray-200: #f8f6ff;
  --background-gray-500: #d4d4d9;
  --background-blue-300: #a9c7e2;
  --background-white: #ffffff;

  --outline-gray-300-light: #cacacf;
  --outline-gray-300-icons: #c7d2d7;
  --outline-gray-400-disabled: #d6d6db;
  --outline-gray-900-border: #555666;

  --text-black-100: #2e2e2e;
  --text-black-200: #43444b;
  --text-black-300: #333333;
  --text-black-700: #000000;
  --text-white: #ffffff;

  --accent-300: #73bbeb;
}

#root,
.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  height: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  scrollbar-gutter: stable;
}

body {
  min-width: 320px;
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  background-color: var(--background-white);
  color: var(--text-black-100);
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: default;
}

body.lock {
  overflow: hidden;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
