:root {
  --primary-400: #3064A3;
  --primary-500: #4087BF;
  --primary-100: #0A1943;

  --success-100: #DFFBEF;
  --success-500: #26BF68;

  --background-gray-100: #F1F1F1;
  --background-gray-200: #F8F6FF;
  --background-gray-500: #D4D4D9;
  --background-blue-300: #A9C7E2;

  --outline-gray-300-light: #CACACF;
  --outline-gray-300-icons: #C7D2D7;
  --outline-gray-400-disabled: #D6D6DB;
  --outline-gray-900-border: #555666;

  --text-black-700: #000000;
  --text-black-200: #43444B;

  --accent-300: #73BBEB;
}

html {
  height: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  scrollbar-gutter: stable;
}

body {
  min-width: 320px;
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  background-color: #ffffff;
  color: #2e2e2e;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: default;
}

body.lock {
  overflow: hidden;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}